@use "tailwindcss";
@use "tags";
@use "layout";

@layer base {
  html {
    // body
    --bg-body: #fff;
    --bg-main: #e7e9ee;
    --bg-aside: #fff;
    --bg-nav: #fff;
    --bg-panel: #fff;
    --bg-modal: #fff;
  }

  html {
    // border
    --border: #d2d4d9;
    --border-filter: brightness(0) saturate(100%) invert(98%) sepia(1%) saturate(4905%) hue-rotate(196deg) brightness(87%) contrast(95%);

    .border-all {
      border: 1px solid var(--border);
    }

    .border-right {
      border-right: 1px solid var(--border);
    }

    .border-top {
      border-top: 1px solid var(--border);
    }

    .border-left {
      border-left: 1px solid var(--border);
    }

    .border-bottom {
      border-bottom: 1px solid var(--border);
    }
  }

  html {
    // font
    .font-d2 {
      font-family: d2Font, sans-serif;
    }

    .font-roboto {
      font-family: robotoFont, sans-serif;
    }

    .font-neo {
      font-family: neoFont, sans-serif;
    }
  }

  html {
    // 테이블
    --color-table-hover: rgb(208, 235, 218);
  }

  html {
    // 버튼
    --color-shadow: rgba(0, 0, 0, 0.1);
  }

  html {
    // 폰트
    --text-1: #c9ccd1;
    --text-1-filter: brightness(0) saturate(100%) invert(94%) sepia(13%) saturate(80%) hue-rotate(179deg) brightness(86%) contrast(91%);
    --text-2: #9ba0aa;
    --text-2-filter: brightness(0) saturate(100%) invert(67%) sepia(15%) saturate(175%) hue-rotate(182deg) brightness(93%) contrast(89%);
    --text-3: #5c5f69;
    --text-3-filter: brightness(0) saturate(100%) invert(30%) sepia(13%) saturate(404%) hue-rotate(169deg) brightness(91%) contrast(88%);
    --text-4: #323a3d;
    --text-4-filter: brightness(0) saturate(100%) invert(19%) sepia(29%) saturate(206%) hue-rotate(150deg) brightness(97%) contrast(91%);
    --text-5: #282b2f;
    --text-5-filter: brightness(0) saturate(100%) invert(15%) sepia(6%) saturate(842%) hue-rotate(175deg) brightness(93%) contrast(93%);
  }

  html {
    // color
    --primary: rgb(78, 172, 109); // #4EAC6D
    --primary-filter: brightness(0) saturate(100%) invert(53%) sepia(66%) saturate(334%) hue-rotate(87deg) brightness(97%) contrast(88%);
    --primary-alt: rgb(255, 255, 255); // #ffffff
    --primary-alt-filter: brightness(0) saturate(100%) invert(79%) sepia(99%) saturate(105%) hue-rotate(193deg) brightness(113%) contrast(101%);
    --primary-text: #a5ceb1;

    --secondary: #626c72;
    --secondary-filter: brightness(0) saturate(100%) invert(45%) sepia(5%) saturate(652%) hue-rotate(158deg) brightness(92%) contrast(98%);
    --secondary-alt: #ffffff;
    --secondary-alt-filter: brightness(0) saturate(100%) invert(79%) sepia(99%) saturate(105%) hue-rotate(193deg) brightness(113%) contrast(101%);
    --secondary-text: #626c72;

    --info: #6ACA8B;
    --info-filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(5455%) hue-rotate(81deg) brightness(80%) contrast(137%);
    --info-alt: #393939;
    --info-alt-filter: brightness(0) saturate(100%) invert(19%) sepia(1%) saturate(2342%) hue-rotate(16deg) brightness(102%) contrast(92%);
    --info-text: rgb(84, 157, 112);

    --warning: #f5c961;
    --warning-filter: brightness(0) saturate(100%) invert(89%) sepia(99%) saturate(4721%) hue-rotate(310deg) brightness(106%) contrast(104%);
    --warning-alt: #393939;
    --warning-alt-filter: brightness(0) saturate(100%) invert(19%) sepia(1%) saturate(2342%) hue-rotate(16deg) brightness(102%) contrast(92%);
    --warning-text: #856404;

    --success: #50a5f1;
    --success-filter: brightness(0) saturate(100%) invert(64%) sepia(56%) saturate(3076%) hue-rotate(183deg) brightness(100%) contrast(90%);
    --success-alt: #ffffff;
    --success-alt-filter: brightness(0) saturate(100%) invert(79%) sepia(99%) saturate(105%) hue-rotate(193deg) brightness(113%) contrast(101%);
    --success-text: #50a5f1;

    --dark: #2f3c3c;
    --dark-filter: brightness(0) saturate(100%) invert(19%) sepia(34%) saturate(254%) hue-rotate(131deg) brightness(92%) contrast(88%);
    --dark-alt: #ffffff;
    --dark-alt-filter: brightness(0) saturate(100%) invert(79%) sepia(99%) saturate(105%) hue-rotate(193deg) brightness(113%) contrast(101%);
    --dark-text: #465054;

    --danger: rgb(255 91 91); // #FF5B5B
    --danger-filter: invert(60%) sepia(73%) saturate(3419%) hue-rotate(326deg) brightness(101%) contrast(91%);
    --danger-alt: #fff;
    --danger-alt-filter: invert(99%) sepia(56%) saturate(463%) hue-rotate(184deg) brightness(113%) contrast(100%);
    --danger-text: #fff;


    --pink: #f5cad1;
    --pink-alt: #ffffff;
    --pink-text: #de95ab;
  }

  html {
    .no-drag {
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none;

      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
  }
}

