@layer base {
  html {
    h1, h2, h3, h4, h5, h6 {
      padding-bottom: 0.3rem;
    }

    h1 {
      font-size: 1.8rem;
    }

    h2 {
      font-size: 1.65rem;
    }

    h3 {
      font-size: 1.45rem;
    }

    h4 {
      font-size: 1.3rem;
    }

    h5 {
      font-size: 1.1rem;
    }

    h6 {
      font-size: 1rem
    }

    p {
      color: var(--text-2);
      padding-bottom: 0.5rem;
      font-weight: 400;
    }

    hr {
      border: 1px solid var(--border);
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }
  }
}