@layer base {
  html {
    h1, h2, h3, h4, h5, h6 {
      padding-bottom: 0.6rem;
    }

    h1 {
      @apply text-5xl;
    }

    h2 {
      @apply text-4xl;
    }

    h3 {
      @apply text-3xl;
    }

    h4 {
      @apply text-2xl;
    }

    h5 {
      @apply text-xl;
    }

    h6 {
      @apply text-lg;
    }

    p {
      color: var(--text-2);
      padding-bottom: 0.5rem;
      font-weight: 400;
    }

    img {
      z-index: 0;
    }

    hr {
      border: 1px solid var(--border);
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }
  }
}